@import "tailwindcss";
@plugin "daisyui" {
  themes: black --default;
}

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-oswald);
}


h1, h2 {
  font-family: var(--font-heading);
}